.main--welcome {
  padding-top: 395px;
  .text {
    width: 23em;
    text-align: center;
  }
}

.main-play {
  position: absolute;
  top: 360px;
  left: 330px;
  width: 0;
  height: 0;
  margin-left: 20px;
  padding: 0;
  font-size: 0;
  text-indent: -100em;
  background-color: transparent;
  border-width: 70px 0 70px 100px;
  border-style: solid;
  border-color: transparent;
  border-left-color: var(--color-orange);
  transform-origin: center;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.04);
  }

  &:disabled {
    border-left-color: var(--color-text-grey);
    animation: preload 1000ms ease-in-out infinite alternate;
  }
}

.main-play:hover:disabled,
.main-play:active:disabled {
  transform: scale(1);
}

@keyframes preload {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
