.player-wrapper {
  margin-right: 20px;
  background-image: url("../../assets/img/player-background.png");
  background-size: 0 100%;
  background-size: cover;
  animation: fadein 1000ms ease-out;
  animation-iteration-count: 1;
  backgroun-repeat: no-repeat;
}

.player-control {
  display: block;

  width: 46px;
  height: 52px;
  background-color: transparent;
  background-image: url("../../assets/img/icon-player-controls-sprite.png");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;

  &--play {
    background-position: 0 0;
  }

  &--pause {
    background-position: 0 -52px;
  }

}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
