/*
 * Разметка главного блока:
 */

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.main-wrap {
  position: relative;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 186px;
  height: 83px;
  margin-top: 170px;
  overflow: hidden;
  text-indent: -100em;
  background-image: url("../../assets/img/melody-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-50%);
}

.title {
  display: block;
  margin: 0 0 0.2em;
  font: italic 300 1.5em var(--font);
  text-align: center;
  color: var(--color-text-dark);
}

.text {
  display: block;
  margin: 0 0 1em;
  font: 300 0.9em var(--font);
  text-align: center;
  color: var(--color-text-dark);
}
