
.main--level {
  justify-content: flex-start;
  padding-top: 210px;

  & .main-title {
    margin-bottom: 0.8em;
  }
}

.main-player {
  width: 530px;
  height: 55px;
  margin-bottom: 80px;
  overflow: hidden;
}

.main-list {
  display: flex;
  margin: 140px auto 0;
}

.main-answer-r {
  position: absolute;
  left: -900em;
}

.main-answer {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: var(--preview-size);
  margin: 0 5px;
  padding: 0;
  font-weight: 300;
  font-size: 0.9em;
  text-align: center;
  color: var(--color-text-dark);
  cursor: pointer;
}

.main-answer:hover .main-answer-preview {
    border-color: var(--color-orange);
  }

.main-answer:active .main-answer-preview {
    border-color: red;
}

.main-answer-preview {
  box-sizing: border-box;
  width: var(--preview-size);
  height: var(--preview-size);
  margin-bottom: var(--preview-spacing);
  overflow: hidden;
  background-color: var(--color-beige);
  border: solid 5px var(--color-text-dark);
  border-radius: var(--preview-size);
}
