html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: #1d121f linear-gradient(90deg, #1d121f, #270a17);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: var(--layout-height);
  font-family: var(--font);
  font-size: 1em;
  color: white;
  background-image: url("../assets/img/vinyl.png");
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  position: relative;
  width: var(--layout-width);
  height: var(--layout-height);
}

.copyright {
  position: absolute;
  right: 0;
  bottom: 2em;
  font-weight: 300;
  font-size: 0.9em;
  color: var(--color-beige);
  white-space: nowrap;
}

.copyright-link {
  color: var(--color-orange);

  &::before {
    content: url('../assets/img/ha-logo.png');
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 145px;
    height: 50px;
    margin-bottom: 0.5em;
  }

  &:hover {
    color: red;
  }
}
