<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Угадай мелодию</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="author" content="Nikolay Solodukhin">
  <meta name="robots" content="index, follow">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="font/woff2" href="<%= require(`assets/fonts/FiraSans-Light.woff2`) %>" rel="preload" as="font" crossorigin="anonymous">
  <link type="font/woff2" href="<%= require(`assets/fonts/FiraSans-LightItalic.woff2`) %>" rel="preload" as="font" crossorigin="anonymous">
  <link type="font/woff2" href="<%= require(`assets/fonts/FiraSans-BoldItalic.woff2`) %>" rel="preload" as="font" crossorigin="anonymous">
  <link type="font/woff2" href="<%= require(`assets/fonts/FiraSans-MediumItalic.woff2`) %>" rel="preload" as="font" crossorigin="anonymous">
  <link type="font/woff2" href="<%= require(`assets/fonts/FiraSans-Regular.woff2`) %>" rel="preload" as="font" crossorigin="anonymous">
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <link href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" rel="preload" as="script">
  <% } %>

  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>
<body>

<svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; left: -1200em;">
  <filter id="blur">
    <feGaussianBlur in="SourceGraphic" stdDeviation="5"></feGaussianBlur>
    <feOffset dx="0" dy="0"></feOffset>
    <feMerge>
      <feMergeNode></feMergeNode>
      <feMergeNode in="SourceGraphic"></feMergeNode>
    </feMerge>
  </filter>
</svg>

<div class="app">
  <section class="main main-js"></section>

  <section class="copyright">
    Сделано в <a class="copyright-link" href="https://htmlacademy.ru" target="_blank">HTML Academy</a>
  </section>
</div>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>
</html>
